.grid {
	display: flex;
	flex-wrap: wrap;
	height: 120px;
	width: 140px;
	border: 1px solid;
}

.grid div {
	height: 20px;
	width: 20px;
}

.player-one {
	background-color: darkred;
	border-radius: 10px;
}

.player-two {
	background-color: darkblue;
	border-radius: 10px;
}
